// Colors
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-link-text: #fff;
$color-accent: #927bc1;
$color-error: #e4757a;
$color-success: #63cc82;
$color-warning: #fd7856;

// Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;

// Font-Stacks
$font-stack-primary: 'Lato', sans-serif;